# Ignore Python virtual environment
venv/

# Ignore local data analysis assets
data/*.csv

# Ignore FastF1 raw API caching systems
cache/
ff1cache/

# Ignore Jupyter backups
.ipynb_checkpoints/

# Ignore local python runtime caching footprints
__pycache__/
*.pyc

*.json

.dockerignore